#content {
    margin: 0 auto;
    width: 900px;
    padding-top: 20px;
}

.navbar {
    background:#000000;
    font-family: "Playfair Display SC", serif;
}

.nav-link, .navbar-brand {
    color: white;
}

.navbar-brand {
    font-size: 50px;
    padding-left: 50px;
    font-weight: 700;
}

.nav-link {
    margin-right: 1em;
}

.nav-link:hover {
    color: black;
}

.navbar-collapse {
    justify-content: flex-end;
}

h1 {
    padding-bottom: 15px;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    padding-top: 20px;
}

#byline {
    padding-bottom: 40px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
}

p {
    font-family: Georgia, serif;
    font-size: 13px;
    padding-bottom: 10px;
}

#image {
    margin: 0 auto;
    text-align: center;
}

.caption {
    font-family: Georgia, serif;
    font-size: 13px;
    color: gray;
    padding-top: 10px;
    padding-bottom: 30px;
}

blockquote {
    font:16px/24px normal helvetica, sans-serif;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 4px solid #ccc;
    padding-bottom: 20px;
}

h2 {
    padding-bottom: 15px;
    padding-top: 25px;
    font-family: "Playfair Display SC", serif;
}